{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>


</head>
<body style="margin: 0;padding: 0;height: 100vh;background-image: url('{% static 'images/bckgrnd.jpg' %}'); background-size: cover;
             background-position: center center;align-items: center;
            justify-content: center;">
<p style="text-align: center;">
   <img src="{% static 'images/welcom.png' %}" alt="Welcome Image" style="width:300px;height:100px;" />
</p>
<h3 style="color:gray">Enter Login Details</h3><br><br>
<form action="login" method="post">
    {% csrf_token %}
    <label> <b>UserId  </b></label>
    <input type="text" name="userid" placeholder="enter user id" style="padding: 8px; margin-bottom: 16px; box-sizing: border-box; width: 20%;"><br>
    <label><b>Password</b></label>
    <input type="password" name="password" placeholder="enter your password" style="padding: 8px; margin-bottom: 16px; box-sizing: border-box; width: 20%;"><br>
    <input type="submit" style="text-align:center">


</form>
</body>
</html>